@tailwind base;
@layer base {
  html {
    @apply font-serif;
  }
}
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}
#services {
  width: 100%;
  padding: 8rem 0;

  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 90%);
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #8d39a3;
  filter: blur(175px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}

.text-gradient {
  color: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.sites::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.menu-item {
  line-height: 23px;
}

.sub__menus__arrows {
  position: relative;
}

.sub__menus {
  position: absolute;
  display: none;
  width: 257px;
  padding: 2px 0 0 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}

@media (min-width: 700px) {
  .sub__menus__arrows:hover .sub__menus {
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus {
    display: block;
    z-index: 1000000;
  }
}

.menu-item:hover > a {
  color: #07a8ff !important;
}
.menu-item .sub__menus li:hover a {
  color: #07a8ff !important;
}

.sites::-webkit-scrollbar {
  width: 1px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.table-wrapper {
  @apply relative overflow-x-auto shadow-md  w-full;
}

.table-wrapper table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table-wrapper table thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

.table-wrapper table thead tr th {
  @apply py-3 px-4 font-semibold tracking-wider;
}

.table-wrapper table tbody tr {
  @apply bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700;
  @apply hover:bg-gray-100 dark:hover:bg-gray-600;
}

.table-wrapper table tbody tr th {
  @apply px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-50;
}

.table-wrapper table tbody tr td {
  @apply px-6 py-4 whitespace-nowrap;
}

.table-wrapper table tbody tr td a,
nuxt-link {
  @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
}

td span.active {
  @apply bg-green-400 text-gray-50 rounded-md p-2 font-extrabold;
}

td span.pending {
  @apply bg-yellow-400 text-gray-50 rounded-md p-2 font-extrabold;
}

/* Dashboard styling */
.content-body {
  @apply fixed sm:left-64 left-0 right-0 bottom-0 px-4;
}

/* sidebar  link */

.sidebar-link {
  @apply flex items-center space-x-4  p-2 py-4 border-b-[1px] w-full text-base font-normal text-black dark:text-gray-50 rounded-sm transition duration-75  hover:text-gray-50 hover:bg-blue-600;
}
.sidebar-link {
  @apply gap-1;
}

.sidebar-link.active {
  @apply bg-blue-400 font-bold text-gray-50;
}

.sidebar-link.active span * {
  @apply font-bold text-gray-50;
}

/* info box card */
.info-box {
  @apply flex flex-row items-center justify-between gap-4;
  /* @apply bg-gray-50 dark:bg-slate-700; */
  @apply rounded-md;
  @apply shadow-md;
}

.info-box-icon {
  @apply rounded-md;
  @apply text-3xl font-extrabold;
  @apply text-gray-50;
  /* remove the  top left and  bootom left border radius */
  @apply rounded-tr-none rounded-br-none;
  @apply p-7 w-[30%];
}

.info-box-content {
  @apply flex flex-col;
  @apply items-start;
  @apply p-4;
}

.info-box-text {
  /* @apply text-gray-400; */
  @apply text-gray-50;
  /* convert the text to uppercase */
  @apply uppercase;
  @apply text-sm;
  @apply md:text-xs;
}

.info-box-number {
  @apply text-2xl;
  @apply font-bold;
}

/* cards */

.card {
  @apply p-8 my-2 bg-gray-50 rounded-md shadow-md;
  @apply hover:shadow-xl dark:hover:bg-gray-800 bg-neutral-100 border-gray-200 border-[0.1px];
  @apply dark:border-gray-800 rounded-md dark:bg-black dark:text-gray-50;
}

.card-header {
  @apply self-center mb-6 text-xl font-bold uppercase text-gray-600 sm:text-2xl dark:text-gray-50;
}

.card-body {
  @apply flex flex-col items-center justify-center w-full;
}

/* form div inputs */

.form-input {
  @apply w-full px-4 py-2 my-2 text-base text-gray-700 dark:text-slate-200 dark:bg-inherit border border-gray-300 dark:border-gray-600 rounded-none focus:border-indigo-200 focus:outline-none focus:ring-1 ring-offset-current ring-offset-1;
}

.form-search {
  @apply px-4 py-2 my-2 text-base text-gray-700 dark:text-slate-200 dark:bg-inherit border border-gray-300 dark:border-gray-600 rounded-none focus:border-indigo-200 focus:outline-none focus:ring-1 ring-offset-current ring-offset-1;
}

.form-input > option {
  @apply dark:bg-gray-800;
}

.form-file {
  @apply block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400;
}

.form-div {
  @apply flex flex-col justify-start items-start w-full;
}

.form-div .label {
  @apply block mb-2 text-base font-bold text-gray-900 dark:text-gray-50;
}

.submit-btn {
  @apply text-gray-50 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-semibold rounded-lg text-base  px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.menu-item {
  line-height: 23px;
}

.sub__menus__arrows {
  position: relative;
}

.sub__menus {
  position: absolute;
  display: none;
  width: 257px;
  padding: 2px 0 0 0;
  z-index: 1000;
  box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}

@media (min-width: 700px) {
  .sub__menus__arrows:hover .sub__menus {
    display: block;
  }
  .sub__menus__arrows__full:hover .sub__menus {
    display: block;
    z-index: 1000000;
  }
}

.menu-item:hover > a {
  color: #07a8ff !important;
}
.menu-item .sub__menus li:hover a {
  color: #07a8ff !important;
}
